body{
    background-image: linear-gradient(to right,#f3ab40,#e98fcb,#FFFFFF);
}
#head1{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    color: rgb(0, 0, 0);
}
#head2{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    color: rgb(0, 0, 0);
}
label{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
}
#name{
    width: 100%;
    padding: 12px 2px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}
#desc{
    width: 100%;
    padding: 12px 2px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}
#bt1{
    text-align: center;
    width: 20%;
    padding: 12px 2px;
    margin: 8px 40%;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: black; 
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}
#bt1:hover{
    background-color: #ff0000;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#pg{
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}
#pr{
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}
.error{
    color: #0004ff;
}